body {
	background-color: #000;
	margin:30px;
}

body, a:hover {
	cursor: url("../use160.cur"), default !important;
} 

#main {
	width: 100%;
	height: 1000px;
}

#main h1 {
	color: #888;
}

.bigStar {
	position: absolute;
	clip: rect(0px, 5px, 5px, 0px);
	width: 5px;
	height: 5px;
	background-color: transparent;
	z-index: 999;
	overflow: hidden;

}

.bigStar .v {
	position: absolute;
	width: 1px;
	height: 5px;
	left:2px;
	top:0px;
	background-color: #7CFC00;
	overflow: hidden;
}

.bigStar .h {
	position: absolute;
	width: 5px;
	height: 1px;
	top:2px;
	left:0px;
	background-color: #7CFC00;
	overflow: hidden;
}

